html {
    position: relative;
    min-height: 100%;
}

body {

    background-image: url("../images/prism.png");
    margin-bottom: 100px;
}

.headFont {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.textFont {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

a {
    color: #777777;
}

a:hover {
    color: #4aaaa5;
    text-decoration: none;
    font-weight: bold;
}

p {
    color: #777777;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.thickBorder {
    border-top: 8px solid red;

}

.imagePic {
    width: 100%;
}

.moveUp {
    position: relative;
    top: -50px;
}